<h3>P&aacute;gina principal</h3>
<p>Bienvenido a la p&aacute;gina de: <%=@propietario.nombre%>.</p>
<p>Yo nac&iacute;: <%=@propietario.fechacumple%></p>
<p>Y me quedan unicamente <%=@propietario.conteo%> d&iacute;a para mi cumplea&ntilde;os! </p>